<div class="container text-center">
<br>
<!--breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/portfolios">Home</a></li>
    <li class="breadcrumb-item"><%= link_to "Portfolio Holdings", assignments_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Edit this Holding', edit_assignment_path(@assignment) %></li>
    <li class="breadcrumb-item active" aria-current="page">Recently Added Holding</li>
  </ol>
</nav>
<!--breadcrumbs-->
    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-center "><strong>Trade Confirmation</strong> </div>
        <div class="card-body">
          <p id="notice"><%= notice %></p>

          <div class="alert alert-info" role="alert">
            <strong>Transaction: </strong><%=@assignment.direction%> <%=@assignment.shares%> shares of <%= @assignment.stock.ticker %> into Portfolio <%= @assignment.portfolio.name %>
          </div>

        </div>
     </div>
   </div>
</div>