<body class="bg-dark"> 
  <div class="container text-center">
    <div class="card card-login mx-auto mt-5">
       <div class="row">
            <div class="card-header text-right col-3"></div>
            <div class="card-header text-center col-6"><strong>Current Portfolios</strong></div>
            <div class="card-header text-right col-3"><%= link_to 'Sign out', destroy_user_session_path, method: :delete%>&nbsp&nbsp</div>
         </div><!--ending div for "row"-->

        <div class="card-body">
          <div class='form-group'>
            <% @portfolios.each do |portfolio| %>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                 <thead>
                      <strong><%= portfolio.name %></strong>
                   <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                   </tr>
                 </thead>
                 <tbody>
                  <% portfolio.stocks.each do |a|%>
                   <tr>
                     <td><%= a.ticker %></td>
                     <td><%=a.price%></td>
                   </tr>
                  <%end%>
                 </tbody>
              </table>
              <%= link_to 'Add stock', new_portfolio_assignment_path(portfolio) %>  |
              <%= link_to 'Edit Portfolio Holdings', assignments_path(portfolio) %>  |
              <%= link_to 'Delete Portfolio', portfolio, method: :delete, data: {confirm: 'Really?'} %><br><br>
            <%end%>
          </div><!--ending div for "form-group"-->
        </div><!--ending div for "card-body"-->
    </div><!-- ending div for "card card-login mx-auto mt-5"-->
<br>
    <%= link_to 'Create Portfolio', new_portfolio_path, class: 'btn btn-light'%>
    <button onclick="getStocks();" type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">All available Stocks</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Stocks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <table class="table table-bordered" id="stockTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Ticker</th>
                        <th>Price</th>
                       <!-- <th>Functions</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <div id="moreInfo"><p></p></div>
                    </tbody>
                  </table>
                  
                </div>
                
              <div class="modal-footer">
                <%= link_to 'Create a new Stock', new_stock_path, class: 'btn btn-secondary'%>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--Modal-->
  </div><!--ending div for "container text-center"-->
</body><!--ending body "bg-dark"-->
