 <div class="container text-center">
  <br>

<!--breadcrumb-->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item active" aria-current="page">Home</li>
       <li class="breadcrumb-item active text-right" aria-current="page"><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
     </ol>
   </nav>
<!--breadcrum<b-->

<!--adding market news feed-->
  <div class="card bg-light" >
     <div class="card-header"><strong>Market News</strong></div>
     <div class='scroll'>
     <div class="card-body">
     
        <a class='headline'></a>
     </div>
     </div>
     </div>
<!--ending market news feed-->

<style>
div.scroll
{
width:100%;
height:200PX;
overflow-y:scroll;
overflow-x:hidden;
}
</style>
<!--navbar for making portfolio display more elegant-->
<div class="card card-login mx-auto mt-5">
 <div class="row">
  <div class="card-header text-right col-3">
      <button onclick="getStocks();" type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#exampleModalCenter">All available Stocks</button>
  </div><!--ending div for the left-->
   <div class="card-header text-center col-6">
    <strong>Current Portfolios</strong>
   </div><!--ending for card-header text-center col-6-->
   <div class="card-header text-right col-3">
   <%= link_to 'Create Portfolio', new_portfolio_path, class: 'btn btn-light btn-sm'%>
   </div><!--ending div for card-header text-right col-3-->
   
<!--ul list for tab headers-->   
<div class="card-body">
  <div class='form-group'>
   <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% @portfolios.each do |portfolio| %>
      <li class="nav-item">
        <a class="nav-link" id="portfolio-tab" data-toggle="tab" href="#portfolio<%=portfolio.id%>" role="tab" aria-controls="portfolio" aria-selected="true"><%=portfolio.name%></a>
      </li>
    <%end%>
   </ul>
  

<!--div for content inside tab headers-->
 <div class="tab-content" id="myTabContent">
  <% @portfolios.each do |portfolio| %>
    <div class="tab-pane fade" id="portfolio<%=portfolio.id%>" role="tabpanel" aria-labelledby="portfolio-tab">

<!--container div for everything ruby methods inside portfolio tabs-->
    <div class="container">
     <div class="row border-bottom">
        <div class="col">Ticker</div>
        <div class="col">Name</div>
        <div class="col">Shares</div>
        <div class="col">Price</div>
        <div class="col">Market Value</div>
      </div>
         <% portfolio.assignments.each_with_index do |a, index|%>
            <div class="accordion" id="accordionExample">
              <div>
               <div id="headingThree">
                <p class="mb-0">
                <div class="row border-bottom">
                 <div class="col">
                 <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree<%=a.id%>" aria-expanded="false" aria-controls="collapseThree<%=a.id%>">   
                   <li class="list-inline-item"><%= a.stock.ticker %></li>
                    </button>
                    </div>
                      <div class="col"><p class="<%=a.id%>companyname"></p></div>
                      <div class="col"><p class="<%=a.id%>shares"><%=a.shares%></p></div>
                      <div class="col"><p class="<%=a.id%>current_price"></p></div>
                      <div class="col"><p class="<%=a.id%>market_value"></p></div>
                    </div>
                 </p>
               </div><!--ending div for headingThree-->
<!--begin section for data inside tickers-->

      <div id="collapseThree<%=a.id%>" class="collapse<%a.id%>" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">

<!--adding the carousel-->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Data</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>  

<!--begin section for content inside ticker data tabs-->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

<!--script for calculating the portfolio value-->
<script>
 fetch("https://api.iextrading.com/1.0/stock/<%=a.stock.ticker.to_s%>/quote?displayPercent=true")
  .then(function(response) {
    return response.json()
  })
  .then(function(result) {
    var current_price = result.iexRealtimePrice;
    var shares = <%=a.shares%>;
    var cal = shares * current_price
    var market_value = cal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
    var companyname = result.companyName;
    var openclose = result.open + " / " + result.close;
    var highlow = result.high + " / " + result.low;
    var fivetwohighlow = result.week52High + " / " + result.week52Low;
    var today = result.changePercent.toFixed(3)
    var ytd = result.ytdChange.toFixed(3)
    var ytdchange = today + " / " + ytd;
    var todaysavgvolume = result.latestVolume + " / " + result.avgTotalVolume;
    var marketCap = result.marketCap;
    $(".<%=a.id%>market_value").append(market_value); 
    $(".<%=a.id%>companyname").append(companyname);    
    $(".<%=a.id%>marketCap").append(marketCap);    
    $(".<%=a.id%>1ytdchange").append(ytdchange);    
    $(".<%=a.id%>todaysavgvolume").append(todaysavgvolume);    
    $(".<%=a.id%>52highlow").append(fivetwohighlow);
    $(".<%=a.id%>highlow").append(highlow);
    $(".<%=a.id%>openclose").append(openclose);
    $(".<%=a.id%>current_price").append(current_price);
  }); 
  fetch("https://api.iextrading.com/1.0/stock/<%=a.stock.ticker.to_s%>/stats")
  .then(function(response) {
    return response.json()
  })
  .then(function(result) {
    var latestEPS = result.latestEPS
    var institutionPercent = result.institutionPercent
    var fivepercent = (result.day5ChangePercent*100).toFixed(3)
    var thirtypercent = (result.day30ChangePercent*100).toFixed(3)    
    var fivethirtypercent = fivepercent + " / " + thirtypercent
    var insiderPercent = result.insiderPercent;
    var threemonth = (result.month3ChangePercent*100).toFixed(3)
    var sixmonth = (result.month6ChangePercent*100).toFixed(3)
    var threesixmonth = threemonth + " / " + sixmonth;
    var fiftyavgprice = result.day50MovingAvg.toFixed(2)
    var twoavgprice = result.day200MovingAvg.toFixed(2)
    var fiftytwoavgprice = fiftyavgprice + " / " + twoavgprice;
    var week52change = result.week52change
    var beta = result.beta

    
    $(".<%=a.id%>latestEPS").append(latestEPS);    
    $(".<%=a.id%>institutionPercent").append(institutionPercent);    
    $(".<%=a.id%>fivethirtypercent").append(fivethirtypercent); 
    $(".<%=a.id%>insiderPercent").append(insiderPercent);
    $(".<%=a.id%>threesixmonth").append(threesixmonth);
    $(".<%=a.id%>fiftytwoavgprice").append(fiftytwoavgprice);
    $(".<%=a.id%>week52change").append(week52change);
    $(".<%=a.id%>beta").append(beta);

  });
</script>

<!--table for additional stock information-->
             <table class="table table-striped table-hover">
               <thead>
                
               </thead>
               <tbody>
                <tr>
                   <th>Current Price:</th>
                   <td class="<%=a.id%>current_price"></td>
                   <th >Last EPS:</th>
                   <td class="<%=a.id%>latestEPS"></td>
                   <th>Instit. Owned</th>
                   <td class="<%=a.id%>institutionPercent"></td>
                 </tr>
                  <tr>
                   <th>Open/Close</th>
                   <td class="<%=a.id%>openclose"></td>
                   <th>5/30 Day % Change</th>
                   <td class="<%=a.id%>fivethirtypercent"></td>
                   <th>Insider Owned</th>
                   <td class="<%=a.id%>insiderPercent"></td>
                 </tr>
                  <tr>
                   <th>High/Low</th>
                   <td class="<%=a.id%>highlow"></td>
                   <th>3/6 Mth % Change</th>
                   <td class="<%=a.id%>threesixmonth"></td>
                   <th>50/200 Mvg Avg</th>
                   <td class="<%=a.id%>fiftytwoavgprice"></td>
                 </tr>
                  <tr>
                   <th>52 Wk High/Low</th>
                   <td class="<%=a.id%>52highlow"></td>
                   <th>Today's/YTD % Change</th>
                   <td class="<%=a.id%>1ytdchange"></td>
                   <th>Today's/Avg Volume</th>
                   <td class="<%=a.id%>todaysavgvolume"></td>
                 </tr>
                  <tr>
                   <th>52 Wk % Change</th>
                   <td class="<%=a.id%>week52change"></td>
                   <th>Market Cap</th>
                   <td class="<%=a.id%>marketCap"></td>
                   <th>Beta</th>
                   <td class="<%=a.id%>beta"></td>
                 </tr>
               </tbody>
             </table>
<!--table for additional stock information-->

    </div><!--ending div for tab-pane fade show active-->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div><!--ending div for tab-content-->

<!--ending carousel-->
     </div><!--ending div for card-body-->
    </div><!--ending div for collapseThree-->
   </div><!--ending div for empty div-->
  </div><!--ending div for accordion-->
  <%end%>
    </ul>
    <div class="row border-bottom">
        <div class="col">Portfolio Value</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><p class="final_value"></p></div>
      </div>
    </div><!--ending div for container-->
      <%= link_to 'Add stock', new_portfolio_assignment_path(portfolio) %>  |
      <%= link_to 'Edit Portfolio Holdings', assignments_path(portfolio) %>  |
      <%= link_to 'Delete Portfolio', portfolio, method: :delete, data: {confirm: 'Really?'} %><br><br>
    </div><!--ending div for tab-pane fade-->
  <%end%>
    </div><!--ending div for tab-content-->
   </div><!--ending div for form-group-->
  </div><!--ending div for card-body-->
 </div><!--ending div for row-->
</div><!--ending div for card card-login mx-auto mt-5-->

<br>


<!--adding market moving stocks section-->
 <div class="row">
  <div class="col-sm">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
     <div class="card-header">
       <a id="mostactive"class="badge badge-light" data-toggle="collapse" href="#collapseExamplemost_active" role="button" aria-expanded="false" aria-controls="collapseExample">Most Active</a>
     </div>
     <div class="card-body">
 <!--table of most active stocks on IEX-->
        <div class="collapse" id="collapseExamplemost_active">
          <div class="card card-body">

             <table class="table table-sm">
               <thead>
                 <tr>
                   <th scope="col">Ticker</th>
                   <th scope="col">Price</th>
                   <th scope="col">%</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td id="mostactiveticker"></td>
                   <td id="mostactiveprice"></td>
                   <td id="mostactiveper"></td>
                 </tr>
               </tbody>
             </table>

          </div>
        </div>
       <p class="card-text">The top ten stocks that are most actively traded on the IEX exchange. Click the title to view them!</p>
 <!--ending table of most active stocks on IEX-->
     </div>
   </div>
  </div>
 <div class="col-sm">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
     <div class="card-header">
       <a class="badge badge-success" data-toggle="collapse" href="#collapseExamplegainer" role="button" aria-expanded="false" aria-controls="collapseExample">Gainers</a>
     </div>
     <div class="card-body">
 <!--table of biggest gainers on IEX-->
        <div class="collapse" id="collapseExamplegainer">
          <div class="card card-body">
            <table class="table table-sm">
               <thead>
                 <tr>
                   <th scope="col">Ticker</th>
                   <th scope="col">Price</th>
                   <th scope="col">%</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td id="gainerticker"></td>
                   <td id="gainerprice"></td>
                   <td id="gainerper"></td>
                 </tr>
               </tbody>
             </table>
          </div>
        </div>
       <p class="card-text">The top ten stocks with the biggest gains traded on the IEX exchange. Click the title to view them!</p>
 <!--ending table of biggest gainers on IEX-->
     </div>
   </div>
  </div><!--ending div for col-sm-->
   <div class="col-sm">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
     <div class="card-header">
       <a class="badge badge-danger" data-toggle="collapse" href="#collapseExamplelosers" role="button" aria-expanded="false" aria-controls="collapseExample">Losers</a>
     </div>
     <div class="card-body">
 <!--table of biggest losers on IEX-->
        <div class="collapse" id="collapseExamplelosers">
          <div class="card card-body">
            <table class="table table-sm">
               <thead>
                 <tr>
                   <th scope="col">Ticker</th>
                   <th scope="col">Price</th>
                   <th scope="col">%</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td id="loserticker"></td>
                   <td id="loserprice"></td>
                   <td id="loserper"></td>
                 </tr>
               </tbody>
             </table>
          </div>
        </div>
       <p class="card-text">The top ten stocks with the biggest losses traded on the IEX exchange. Click the title to view them!</p>
 <!--ending table of biggest losers on IEX-->
     </div>
   </div>
  </div><!--ending div for col-sm-->
</div><!--ending div for most active stock row-->
 <div class="row">
  <div class="col-sm">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
     <div class="card-header">
       <a class="badge badge-info" data-toggle="collapse" href="#collapseExamplevolume" role="button" aria-expanded="false" aria-controls="collapseExample">Most Volume</a>
     </div>
     <div class="card-body">
 <!--table of most volume on IEX-->
         
        <div class="collapse" id="collapseExamplevolume">
          <div class="card card-body">
            <table class="table table-sm">
               <thead>
                 <tr>
                   <th scope="col">Ticker</th>
                   <th scope="col">Price</th>
                   <th scope="col">%</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td id="volumeticker"></td>
                   <td id="volumeprice"></td>
                   <td id="volumeper"></td>
                 </tr>
               </tbody>
             </table>
          </div>
        </div>
       <p class="card-text">The top ten stocks with most volume traded on the IEX exchange. Click the title to view them!</p>
 <!--ending table of most volume on IEX-->
     </div>
   </div>
  </div>
 <div class="col-sm">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
     <div class="card-header">
       <a class="badge badge-primary" data-toggle="collapse" href="#collapseExamplepercentmovers" role="button" aria-expanded="false" aria-controls="collapseExample">Biggest % Movers</a>
     </div>
     <div class="card-body">
 <!--table of biggest percent movers on IEX-->
        <div class="collapse" id="collapseExamplepercentmovers">
          <div class="card card-body">
            <table class="table table-sm">
               <thead>
                 <tr>
                   <th scope="col">Ticker</th>
                   <th scope="col">Price</th>
                   <th scope="col">%</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td id="percentticker"></td>
                   <td id="percentprice"></td>
                   <td id="percentper"></td>
                 </tr>
               </tbody>
             </table>
          </div>
        </div>
       <p class="card-text">The top ten stocks with the biggest percentage moves traded on the IEX exchange. Click the title to view them!</p>
 <!-- ending table of biggest percent movers on IEX-->
     </div>
   </div>
  </div><!--ending div for col-sm-->
   <div class="col-sm">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
     <div class="card-header">
       <a class="badge badge-warning" data-toggle="collapse" href="#collapseExampleiexfocus" role="button" aria-expanded="false" aria-controls="collapseExample">IEX In Focus</a>
     </div>
     <div class="card-body">
 <!--table of iex in focus on IEX-->
        <div class="collapse" id="collapseExampleiexfocus">
          <div class="card card-body">
            <table class="table table-sm">
               <thead>
                 <tr>
                   <th scope="col">Ticker</th>
                   <th scope="col">Price</th>
                   <th scope="col">%</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td id="focusticker"></td>
                   <td id="focusprice"></td>
                   <td id="focusper"></td>
                 </tr>
               </tbody>
             </table>
          </div>
        </div>
       <p class="card-text">The top ten stocks that are getting the most attention on the IEX exchange. Click the title to view them!</p>
 <!--ending table of iex in focus on IEX-->
     </div>
   </div>
  </div><!--ending div for col-sm-->
</div><!--ending div for most active stock row-->

<!--ending market moving stocks section-->

<!-- Modal for displaying all stocks-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Stocks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <table class="table table-bordered" id="stockTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Ticker</th>
                        <th>Price</th>
                       <!-- <th>Functions</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <div id="moreInfo"><p></p></div>
                    </tbody>
                  </table>
                  
                </div>
                
              <div class="modal-footer">
                <%= link_to 'Create a new Stock', new_stock_path, class: 'btn btn-secondary'%>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

 <!--Modal for displaying all stocks-->
</div><!--ending div for "container text-center"-->