  <div class="container text-center">
  <br>
<!--breadcrumb-->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item active" aria-current="page">Home</li>
     </ol>
   </nav>
<!--breadcrumb-->
    <div class="card card-login mx-auto mt-5">
       <div class="row">
            <div class="card-header text-right col-3"></div>
            <div class="card-header text-center col-6"><strong>Current Portfolios</strong></div>
            <div class="card-header text-right col-3"><%= link_to 'Sign out', destroy_user_session_path, method: :delete%>&nbsp&nbsp</div>
       </div><!--ending div for "row"-->

<!--begin section for Current Portfolio-->
        <div class="card-body">
          <div class='form-group'>

       <% @portfolios.each_with_index do |portfolio, indexs| %>

         <div class="card"><!--portfolio-card-->
           <div class="card-body"><!--portfolio-card-body-->
            <strong><%= portfolio.name %> Portfolio</strong>
<!--begin li list for Stocks in portolios-->
<div class="container">
              <ul class="list-inline">
         <% portfolio.assignments.each_with_index do |a, index|%>
            <div class="accordion" id="accordionExample">
              <div>
               <div id="headingThree">
                <h5 class="mb-0">
                 <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree<%=a.id%>" aria-expanded="false" aria-controls="collapseThree<%=a.id%>">                                    
                   <li class="list-inline-item"><%= a.stock.ticker %></li>
                   <li class="list-inline-item"><%=a.shares%></li>
                   <li class="list-inline-item">@</li>
                   <li class="list-inline-item">$<%=a.stock.price%>.00</li>
                   <li class="list-inline-item">$<%=a.stock.price * a.shares%>.00</li>                   
                  </button>
                 </h5>
               </div><!--ending div for headingThree-->
<!--begin section for data inside tickers-->
               <div id="collapseThree<%=a.id%>" class="collapse<%a.id%>" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
<!--adding the carousel-->
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                     </li>
                     <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                     </li>
                     <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                     </li>
                    </ul>
</div>                  
<!--begin section for content inside ticker data tabs-->
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                               <table class="table table-hover">
                                 <thead>
                                   <tr>
                                     <th scope="col">#</th>
                                     <th scope="col">First</th>
                                     <th scope="col">Last</th>
                                     <th scope="col">Handle</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <th scope="row">1</th>
                                     <td id="symbol"></td>
                                     <td>Otto</td>
                                     <td>@mdo</td>
                                   </tr>
                                   <tr>
                                     <th scope="row">2</th>
                                     <td>Jacob</td>
                                     <td>Thornton</td>
                                     <td>@fat</td>
                                   </tr>
                                   <tr>
                                     <th scope="row">3</th>
                                     <td colspan="2">Larry the Bird</td>
                                     <td>@twitter</td>
                                   </tr>
                                 </tbody>
                               </table>
                               </div>
                               <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                               <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                             </div>
<!--ending carousel-->
                            </div><!--ending div for card-body-->
                          </div><!--ending div for collapseThree-->
                        </div><!--ending div for empty div-->
                      </div><!--ending div for accordion-->
                  <%end%>
                  </ul>
            </div><!--portfolio-card-body-->
           </div><!--portfolio-card-->
              <%= link_to 'Add stock', new_portfolio_assignment_path(portfolio) %>  |
              <%= link_to 'Edit Portfolio Holdings', assignments_path(portfolio) %>  |
              <%= link_to 'Delete Portfolio', portfolio, method: :delete, data: {confirm: 'Really?'} %><br><br>
            <%end%>
          </div><!--ending div for "form-group"-->
        </div><!--ending div for "card-body"-->
    </div><!-- ending div for "card card-login mx-auto mt-5"-->
<br>
    <%= link_to 'Create Portfolio', new_portfolio_path, class: 'btn btn-light'%>
    <button onclick="getStocks();" type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">All available Stocks</button>
<!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Stocks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <table class="table table-bordered" id="stockTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Ticker</th>
                        <th>Price</th>
                       <!-- <th>Functions</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <div id="moreInfo"><p></p></div>
                    </tbody>
                  </table>
                  
                </div>
                
              <div class="modal-footer">
                <%= link_to 'Create a new Stock', new_stock_path, class: 'btn btn-secondary'%>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

 <!--Modal-->
</div><!--ending div for "container text-center"-->
