   <div class="container text-center">
  <br>

<!--breadcrumb-->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item active" aria-current="page">Home</li>
     </ol>
   </nav>
<!--breadcrumb-->

<!--navbar for making portfolio display more elegant-->
<div class="card card-login mx-auto mt-5">
 <div class="row">
  <div class="card-header text-right col-3"></div><!--ending div for the left-->
   <div class="card-header text-center col-6">
    <strong>Current Portfolios</strong>
   </div><!--ending for card-header text-center col-6-->
   <div class="card-header text-right col-3"><%= link_to 'Sign out', destroy_user_session_path, method: :delete%>&nbsp&nbsp
   </div><!--ending div for card-header text-right col-3-->
   
<!--ul list for tab headers-->   
<div class="card-body">
  <div class='form-group'>
   <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% @portfolios.each do |portfolio| %>
      <li class="nav-item">
        <a class="nav-link" id="portfolio-tab" data-toggle="tab" href="#portfolio<%=portfolio.id%>" role="tab" aria-controls="portfolio" aria-selected="true"><%=portfolio.name%></a>
      </li>
    <%end%>
   </ul>
  

<!--div for content inside tab headers-->
 <div class="tab-content" id="myTabContent">
  <% @portfolios.each do |portfolio| %>
    <div class="tab-pane fade" id="portfolio<%=portfolio.id%>" role="tabpanel" aria-labelledby="portfolio-tab">

<!--container div for everything ruby methods inside portfolio tabs-->
    <div class="container">

      <ul class="list-inline">
         <% portfolio.assignments.each_with_index do |a, index|%>
            <div class="accordion" id="accordionExample">
              <div>
               <div id="headingThree">
                <h5 class="mb-0">
                 <button onclick="getStock();"class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree<%=a.id%>" aria-expanded="false" aria-controls="collapseThree<%=a.id%>">                                    
                   <li class="list-inline-item"id="ticker"><%= a.stock.ticker %></li>
                   <li class="list-inline-item"><%=a.shares%></li>
                   <li class="list-inline-item">@</li>
                   <li class="list-inline-item">$<%=a.stock.price%>.00</li>
                   <li class="list-inline-item">$<%=a.stock.price * a.shares%>.00</li>                   
                  </button>
                  
                 </h5>
               </div><!--ending div for headingThree-->

<!--begin section for data inside tickers-->
      <div id="collapseThree<%=a.id%>" class="collapse<%a.id%>" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">

<!--adding the carousel-->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>                  
<!--begin section for content inside ticker data tabs-->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<!--script for loading ticker tabs data-->
<script>
  function getStock() {
   var ti = function(){for(let i = 0; i<index.length; i++){
    $('#ticker' + i).click(function(){
     alert('you clicked ' + i);
    })
   }}
   console.log(ti)
    var theURL = `https://api.iextrading.com/1.0/stock/${ti}/stats`;
    $.getJSON(theURL, function(data) {
       var obj = data;
       console.log(obj.symbol)
       document.getElementById("symbol").innerHTML = obj.symbol;
       document.getElementById("beta").innerHTML = obj.beta;
       document.getElementById("institutionPercent").innerHTML = obj.institutionPercent;
       document.getElementById("shortInterest").innerHTML = obj.shortInterest;
       document.getElementById("insiderPercent").innerHTML = obj.insiderPercent;
       document.getElementById("dividendYield").innerHTML = obj.dividendYield;
       document.getElementById("day200MovingAvg").innerHTML = obj.day200MovingAvg;
       document.getElementById("latestEPSDate").innerHTML = obj.latestEPSDate;
       document.getElementById("day50MovingAvg").innerHTML = obj.day50MovingAvg;
       document.getElementById("float").innerHTML = obj.float;
       document.getElementById("month6ChangePercent").innerHTML = obj.month6ChangePercent;
       document.getElementById("marketcap").innerHTML = obj.marketcap;
       document.getElementById("sharesOutstanding").innerHTML = obj.sharesOutstanding;
       document.getElementById("year1ChangePercent").innerHTML = obj.year1ChangePercent;
       document.getElementById("shortRatio").innerHTML = obj.shortRatio;
       document.getElementById("ytdChangePercent").innerHTML = obj.ytdChangePercent;

       //document.getElementById("companyName").innerHTML = obj.companyName;
  });
  };
</script>
        <table class="table table-hover text-left">
        <tbody>
         <tr>
            <th>Symbol:</th>
            <td id="symbol"></td>
            <th>Beta:</th>
            <td id="beta"></td>
            <th>Institional %:</th>
            <td id="institutionPercent"></td>
         </tr>
         <tr>
            <th>Exchange:</th>
            <td>joe</td>
            <th>Short %:</th>
            <td id="shortInterest"></td>
            <th>Insider %:</th>
            <td id="insiderPercent"></td>
         </tr>
         <tr>
            <th>Sector:</th>
            <td>joe</td>
            <th>Dividend Yield:</th>
            <td id="dividendYield"></td>
            <th>200 Day MVG:</th>
            <td id="day200MovingAvg"></td>
          </tr>
          <tr>
            <th>Open/Close:</th>
            <td>joe</td>
            <th>Last EPS Date:</th>
            <td id="latestEPSDate"></td>
            <th>50 Day MVG:</th>
            <td id="day50MovingAvg"></td>
          </tr>
          <tr>
            <th>Avg Vol:</th>
            <td>joe</td>
            <th>Float:</th>
            <td id="float"></td>
            <th>6 mth Chg:</th>
            <td id="month6ChangePercent"></td>
         </tr>
         <tr>
            <th>Market Cap:</th>
            <td id="marketcap"></td>
            <th>Shares Outs:</th>
            <td id="sharesOutstanding"></td>
            <th>1 Yr % Chg:</th>
            <td id="year1ChangePercent"></td>
         </tr>
         <tr>
            <th>Peers:</th>
            <td>joe</td>
            <th>Short Ratio:</th>
            <td id="shortRatio"></td>
            <th>YTD % Chg:</th>
            <td id="ytdChangePercent"></td>
         </tr>
        </tbody>
      </table>
    </div><!--ending div for tab-pane fade show active-->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div><!--ending div for tab-content-->

<!--ending carousel-->
     </div><!--ending div for card-body-->
    </div><!--ending div for collapseThree-->
   </div><!--ending div for empty div-->
  </div><!--ending div for accordion-->
  <%end%>
    </ul>
    </div><!--ending div for container-->
      <%= link_to 'Add stock', new_portfolio_assignment_path(portfolio) %>  |
      <%= link_to 'Edit Portfolio Holdings', assignments_path(portfolio) %>  |
      <%= link_to 'Delete Portfolio', portfolio, method: :delete, data: {confirm: 'Really?'} %><br><br>
    </div><!--ending div for tab-pane fade-->
  <%end%>
    </div><!--ending div for tab-content-->
   </div><!--ending div for form-group-->
  </div><!--ending div for card-body-->
 </div><!--ending div for row-->
</div><!--ending div for card card-login mx-auto mt-5-->

<br>
    <%= link_to 'Create Portfolio', new_portfolio_path, class: 'btn btn-light'%>
    <button onclick="getStocks();" type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">All available Stocks</button>


<!-- Modal for displaying all stocks-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Stocks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <table class="table table-bordered" id="stockTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Ticker</th>
                        <th>Price</th>
                       <!-- <th>Functions</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <div id="moreInfo"><p></p></div>
                    </tbody>
                  </table>
                  
                </div>
                
              <div class="modal-footer">
                <%= link_to 'Create a new Stock', new_stock_path, class: 'btn btn-secondary'%>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

 <!--Modal for displaying all stocks-->
</div><!--ending div for "container text-center"-->
<table id="stock_table">
 <tr>
  <th></th>
  <td id="primaryExchange"></td>
 </tr>
</table>
