<center>
  <div class="container">
    <div class="card-body">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Home', portfolios_path %>
        </li>
        <li class="breadcrumb-item active">Create</li>
      </ol>

      <%= render 'form'%>
    <% current_user.stocks.each do |stock| %>
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
             <tr>
              <th>Symbol</th>
              <th>Sector</th>
              <th>High</th>
              <th>Low</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>

            <tr>
            <div id="postResult">
              <td id ="portsymbol"><%=stock.symbol%></td>
              <td id ="portsector"><%=stock.sector%></td>
              <td id ="porthigh"><%=stock.high%></td>
              <td id ="portlow"><%=stock.low%></td>
              <td id ="portprice"><%=stock.price%></td>
            </div>
            </tr>
            <% end %>
          </tbody>
        </table>

      <script type="text/javascript" charset="utf-8">
        $(function(){
          $('form').submit(function(event){
            event.preventDefault();
            var values = $(this).serialize();
            var posting = $.post('/stocks', values);
            posting.done(function(data){
              var post = data;

              $("#portsymbol").text(post['symbol']);
              $("#portsector").text(post['sector']);
              $("#porthigh").text(post['high']);
              $("#portlow").text(post['low']);
              $("#portprice").text(post['price']);

            })
          })
        })
      </script>

    </div>
  </div>
</center>
