<!--<p id="notice"><%= notice %></p>-->
<div class="container text-center">
<br>
<!--breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', portfolios_path%></li>
    <li class="breadcrumb-item"><%= link_to 'Edit This Stock', edit_stock_path(@stock) %></li>
    <li class="breadcrumb-item"><%= link_to 'Show All Stocks', stocks_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Newest Stock</li>
  </ol>
</nav>
<!--breadcrumbs-->
    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-center "><strong>Here is your Portfolio</strong> </div>
        <% if @stock %>
      <div class="col-xs-4 ">
      </div>
      <div class="col-xs-4 ">
        <div class="panel panel-default">
          <div class="panel-heading"><b><%= @stock.company_name %> - <%= @stock.symbol %></b></div>
          
          <ul class="list-group">
            <li class="list-group-item"><b>Volume: </b>$<%= @stock.avg_total_volume %></li>
            <li class="list-group-item"><b>Pe Ratio: </b>$<%= @stock.pe_ratio %></li>
          </ul>
        </div>
      </div>

  <% elsif @error %>
      <%= @error %>
  <% end %>
     </div>
   </div>
</div>
